:root {
  /* Color */
  --light-blue: #d0eeeb;
  --black: #031614;

  /* Font Size */
  --font-huge: 24px;
  --font-large: 20px;
  --font-medium: 16px;
  --font-small: 14px;
  --font-micro: 10px;

  /* Padding Margin Size */
  --border-radius: 3px;
  --margin: 20px;
  --padding-top-and-bottom: 8px;
  --padding-left-and-right: 12px;
  --padding: 8px 12px;
}
